name: test and run workflow

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

env:
  PORT: 4003

jobs:
  test:
    env:
      Password: sami_lolo
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v3
        with:
          python-version: 3.9
      - uses: actions/cache@v4
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Run tests
        run: |
          echo "Test Project"
          pytest -v
      - name: Upload Report Txt
        uses: actions/upload-artifact@v5
        with:
          name: Report_Of_Test
          path: error.txt
      - name: print env
        run: |
          echo "PORT: ${{env.PORT}}"
          echo "Password: ${{env.Password}}"


  run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v3
        with:
          python-version: 3.9
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Run project
        run: |
          echo "Run Project"

  show:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Download Report Txt
        uses: actions/download-artifact@v5
        with:
          name: Report_Of_Test